<img src="../images/cosmos.jpg"/>
<h3>TITLE</h3>
<h5>AUTHOR</h5>
<h5>PUBLICATION</h5>
<h4>PRICE</h4>
<h5>LEFT</h5>
<input type="button" name="bookInfo" value="bookInfo"/>
<input type="button" name="review" value="review"/>
<input type="button" name="wish" value="wish"/>
<input type="button" name="lend" value="lend"/>
<input type="button" name="buy" value="buy"/>
<input type="button" name="own" value="own"/>
<input type="button" name="deposit" value="deposit"/>
<h5>YOU HAVE READ THIS BOOK 0 times</h5>
<h5>YOU HAVE 0 COPIES OF THIS BOOK</h5>