<h3>Sign up</h3>
<form action="trySigning.php" method="post">
  <table style="border: none">
    <tr>
      <td>
        ID : <input type="text" name="user_id" value="" size="10"/>
      </td>
      <td rowspan="2"> <input type="submit" value="SignUp"/> </td>
    </tr>
    <tr>
      <td>
        PW : <input type="text" name="user_pw" value="" maxlength="8"/>
      </td>
    </tr>
    <tr>
      <td>
        ADDR : <input type="text" name="user_addr" value=""/>
        
        <!-- 작은 팝업창 -->
        <a target="_blank" href="https://www.epost.go.kr/search.RetrieveIntegrationNewZipCdList.comm"><input type="button" value="search"/></a>
      </td>
    </tr>
</form>