<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>slidingCover</title>
  </head>
  
  <body>
  
    <table>
      <tbody>
        <tr>
          <td> <input type="button" name="left" value="<"/> </td>
          <td> <img src="../images/cosmos.jpg"> </td>
          <td> <img src="../images/courage_to_overcome_hatred.jpg"> </td>
          <td> <img src="../images/ji_dae_nulb_yat.jpg"> </td>
          <td> <input type="button" name="right" value=">"/> </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>